StayBazar/Connected Services/TamarindBasic/BaseDetails2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TamarindXML.BusinessClass" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TamarindXML.BusinessClass" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InputException">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExceptionMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InnerException" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InputException" nillable="true" type="tns:InputException" />
  <xs:complexType name="ListHotelParam">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StarRating" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListHotelParam" nillable="true" type="tns:ListHotelParam" />
</xs:schema>