StayBazar/Connected Services/BookingServiceRef/BookingService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="www.tamarindtours.in/IBookingService" elementFormDefault="qualified" targetNamespace="www.tamarindtours.in/IBookingService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://stagingxml.tamarindtours.in/Version1.0/BookingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TamarindXML.BusinessClass" />
  <xs:element name="GetCartItemDetailsByCartItemID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TamarindXML.BusinessClass" minOccurs="0" name="cartItem" nillable="true" type="q1:CartItemByID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCartItemDetailsByCartItemIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCartItemDetailsByCartItemIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCartItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TamarindXML.BusinessClass" minOccurs="0" name="cartItem" nillable="true" type="q2:CartItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCartItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCartItemResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFromCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TamarindXML.BusinessClass" minOccurs="0" name="cartItem" nillable="true" type="q3:CartItemToDelete" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFromCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveFromCartResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCartDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TamarindXML.BusinessClass" minOccurs="0" name="cart" nillable="true" type="q4:DetailedCart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCartDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCartDetailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookedCartDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TamarindXML.BusinessClass" minOccurs="0" name="Cart" nillable="true" type="q5:DetailedCart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookedCartDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBookedCartDetailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalutations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalutationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSalutationsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPolicies">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TamarindXML.BusinessClass" minOccurs="0" name="policy" nillable="true" type="q6:CartPolicies" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPoliciesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPoliciesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TamarindXML.BusinessClass" minOccurs="0" name="cart" nillable="true" type="q7:Cart" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TamarindXML.BusinessClass" minOccurs="0" name="CartItemRef" nillable="true" type="q8:ArrayOfCartItemReferencePolicy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmBookingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectApproval">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TamarindXML.BusinessClass" minOccurs="0" name="quot" nillable="true" type="q9:Quotation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectApprovalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RejectApprovalResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptApproval">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TamarindXML.BusinessClass" minOccurs="0" name="quot" nillable="true" type="q10:Quotation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptApprovalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AcceptApprovalResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmendBookingDetailsbyCartItemID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TamarindXML.BusinessClass" minOccurs="0" name="cart" nillable="true" type="q11:CartItemByID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmendBookingDetailsbyCartItemIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAmendBookingDetailsbyCartItemIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlightAndOtherDetailsbyCartItemID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TamarindXML.BusinessClass" minOccurs="0" name="cart" nillable="true" type="q12:CartItemByID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlightAndOtherDetailsbyCartItemIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFlightAndOtherDetailsbyCartItemIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookingList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TamarindXML.BusinessClass" minOccurs="0" name="booklist" nillable="true" type="q13:BookingList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookingListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBookingListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewBookingHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/TamarindXML.BusinessClass" minOccurs="0" name="bkdetails" nillable="true" type="q14:BookingDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewBookingHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViewBookingHistoryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCancellationDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/TamarindXML.BusinessClass" minOccurs="0" name="quotation" nillable="true" type="q15:Quotation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCancellationDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCancellationDetailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/TamarindXML.BusinessClass" minOccurs="0" name="quotation" nillable="true" type="q16:Quotation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelBookingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>