StayBazar/Connected Services/TamarindService/TamarindDataService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TamarindXML.BusinessClass" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TamarindXML.BusinessClass" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="HotelSearchParam">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentMarket" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AllowOnrequest" type="xs:boolean" />
      <xs:element minOccurs="0" name="CheckinDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CityID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DoubleBed" type="xs:int" />
      <xs:element minOccurs="0" name="ExtraBed" type="xs:int" />
      <xs:element minOccurs="0" name="HotelID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nights" type="xs:int" />
      <xs:element minOccurs="0" name="OriginCountryID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rating" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SingleBed" type="xs:int" />
      <xs:element minOccurs="0" name="TwinBed" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HotelSearchParam" nillable="true" type="tns:HotelSearchParam" />
  <xs:complexType name="InputException">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExceptionMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InnerException" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InputException" nillable="true" type="tns:InputException" />
  <xs:complexType name="SingleHotel">
    <xs:sequence>
      <xs:element minOccurs="0" name="HotelID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SingleHotel" nillable="true" type="tns:SingleHotel" />
  <xs:complexType name="CostBreakupParam">
    <xs:sequence>
      <xs:element minOccurs="0" name="CancellationDetails" type="xs:boolean" />
      <xs:element minOccurs="0" name="CheckinDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DoubleBed" type="xs:int" />
      <xs:element minOccurs="0" name="ExtraBed" type="xs:int" />
      <xs:element minOccurs="0" name="HotelRateCardDetailID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nights" type="xs:int" />
      <xs:element minOccurs="0" name="SingleBed" type="xs:int" />
      <xs:element minOccurs="0" name="TwinBed" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CostBreakupParam" nillable="true" type="tns:CostBreakupParam" />
  <xs:complexType name="Quotation">
    <xs:sequence>
      <xs:element minOccurs="0" name="CancellationDetails" type="xs:boolean" />
      <xs:element minOccurs="0" name="QuotationID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Quotation" nillable="true" type="tns:Quotation" />
  <xs:complexType name="CancellationPolicyParam">
    <xs:sequence>
      <xs:element minOccurs="0" name="CancellationDetails" type="xs:boolean" />
      <xs:element minOccurs="0" name="CheckinDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HotelRateCardDetailID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CancellationPolicyParam" nillable="true" type="tns:CancellationPolicyParam" />
</xs:schema>